rules/example/Catalogue-example.xml2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MaximumOrderQuantity" type="xs:string"/>
  <xs:element name="IssueDate">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="2018-09-01"/>
        <xs:enumeration value="2018-10-02"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Quantity" type="urn:QuantityType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="DocumentType" type="xs:string"/>
  <xs:element name="PackSizeNumeric" type="xs:string"/>
  <xs:element name="MinimumQuantity" type="xs:string"/>
  <xs:element name="EndDate">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="2018-12-31"/>
        <xs:enumeration value="2018-10-30"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ProfileID" type="xs:string"/>
  <xs:element name="Amount" type="urn:AmountType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="OrderableUnit" type="xs:string"/>
  <xs:element name="AttributeID" type="xs:string"/>
  <xs:element name="IdentificationCode" type="urn:IdentificationCodeType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="Percent" type="xs:string"/>
  <xs:element name="Keyword" type="xs:string"/>
  <xs:element name="MinimumOrderQuantity" type="xs:string"/>
  <xs:element name="ContentUnitQuantity" type="xs:string"/>
  <xs:element name="CertificateTypeCode" type="xs:string"/>
  <xs:element name="ValueQualifier" type="xs:string"/>
  <xs:element name="BestBeforeDate" type="xs:string"/>
  <xs:element name="OrderableIndicator" type="xs:string"/>
  <xs:element name="OrderableUnitFactorRate" type="xs:string"/>
  <xs:element name="DocumentDescription" type="xs:string"/>
  <xs:element name="EmbeddedDocumentBinaryObject" type="urn:EmbeddedDocumentBinaryObjectType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="ActionCode" type="xs:string"/>
  <xs:element name="PackLevelCode" type="xs:string"/>
  <xs:element name="URI" type="xs:string"/>
  <xs:element name="Description">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Bank payment"/>
        <xs:enumeration value="Standard milk with 3 % fat"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="VersionID" type="xs:string"/>
  <xs:element name="Telephone">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="0461548690"/>
        <xs:enumeration value="03576125600"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ItemClassificationCode" type="xs:string"/>
  <xs:element name="ElectronicMail">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="andrea.herz@supplier.com"/>
        <xs:enumeration value="rodrigo.tommasso@supplier.com"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DocumentTypeCode" type="urn:DocumentTypeCodeType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="ChargeIndicator" type="xs:string"/>
  <xs:element name="IssueTime" type="xs:string"/>
  <xs:element name="EndpointID" type="urn:EndpointIDType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="PriceTypeCode" type="xs:string"/>
  <xs:element name="CityName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="København"/>
        <xs:enumeration value="Porchiano Del Monte"/>
        <xs:enumeration value="Tambach-Dietharz"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CountrySubentity">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Slangerup"/>
        <xs:enumeration value="Provinsen Terni"/>
        <xs:enumeration value="Freistaat Thüringen"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AdditionalStreetName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Building 3"/>
        <xs:enumeration value="Building 2"/>
        <xs:enumeration value="Building 54"/>
        <xs:enumeration value="Building A"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceAmount" type="urn:PriceAmountType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="ContractSubdivision" type="xs:string"/>
  <xs:element name="OrderQuantityIncrementNumeric" type="xs:string"/>
  <xs:element name="Value" type="xs:string"/>
  <xs:element name="NameCode" type="xs:string"/>
  <xs:element name="MaximumMeasure" type="urn:MaximumMeasureType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="WarrantyInformation" type="xs:string"/>
  <xs:element name="ContractTypeCode" type="urn:ContractTypeCodeType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="CertificateType" type="xs:string"/>
  <xs:element name="MinimumMeasure" type="urn:MinimumMeasureType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="Note" type="xs:string"/>
  <xs:element name="AllowanceChargeReason" type="xs:string"/>
  <xs:element name="PostalZone">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="3550"/>
        <xs:enumeration value="05022"/>
        <xs:enumeration value="99897"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PackQuantity" type="xs:string"/>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="MaximumQuantity" type="xs:string"/>
  <xs:element name="StreetName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="GI Københavnsvej 2"/>
        <xs:enumeration value="Via Goffredo Mameli 25"/>
        <xs:enumeration value="Koenigstrasse 12"/>
        <xs:enumeration value="Via Goffredo Mameli 32"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="UBLVersionID" type="xs:string"/>
  <xs:element name="LineID" type="xs:string"/>
  <xs:element name="ID" type="xs:string"/>
  <xs:element name="Measure" type="urn:MeasureType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
  <xs:element name="StartDate">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="2018-10-02"/>
        <xs:enumeration value="2018-10-20"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BrandName" type="xs:string"/>
  <xs:element name="CustomizationID" type="xs:string"/>
  <xs:element name="ExtendedID" type="xs:string"/>
  <xs:element name="Telefax">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="0461548691"/>
        <xs:enumeration value="03576125601"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="UNDGCode" type="xs:string"/>
  <xs:element name="Remarks" type="xs:string"/>
  <xs:complexType name="MaximumMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unitCode"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unitCode"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EmbeddedDocumentBinaryObjectType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="mimeCode"/>
        <xs:attribute type="xs:string" name="filename"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PriceAmountType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="currencyID" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContractTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="listID"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="currencyID"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unitCode" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DocumentTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="listID" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IdentificationCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="listID" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EndpointIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="schemeID" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MinimumMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unitCode"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>