rules/example/Catalogue-example.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:ubl="urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="ubl:Catalogue">
            <element name="cbc:UBLVersionID">
                <data type="decimal"/>
            </element>
            <element name="cbc:CustomizationID">
                <data type="anyURI"/>
            </element>
            <element name="cbc:ProfileID">
                <data type="anyURI"/>
            </element>
            <ref name="cbc.ID"/>
            <ref name="cbc.Name"/>
            <ref name="cbc.IssueDate"/>
            <element name="cbc:IssueTime">
                <data type="NMTOKEN"/>
            </element>
            <element name="cbc:Note">
                <text/>
            </element>
            <element name="cbc:VersionID">
                <data type="integer"/>
            </element>
            <ref name="cac.ValidityPeriod"/>
            <element name="cac:ReferencedContract">
                <ref name="cbc.ID"/>
                <ref name="cbc.IssueDate"/>
                <element name="cbc:ContractTypeCode">
                    <attribute name="listID">
                        <data type="NCName"/>
                    </attribute>
                    <data type="integer"/>
                </element>
                <element name="cac:ContractDocumentReference">
                    <ref name="cbc.ID"/>
                </element>
            </element>
            <element name="cac:ProviderParty">
                <ref name="cbc.EndpointID"/>
                <ref name="cac.PartyIdentification"/>
                <ref name="cac.PartyName"/>
                <ref name="cac.PostalAddress"/>
            </element>
            <element name="cac:ReceiverParty">
                <ref name="cbc.EndpointID"/>
                <ref name="cac.PartyIdentification"/>
                <ref name="cac.PartyName"/>
                <ref name="cac.PostalAddress"/>
            </element>
            <element name="cac:SellerSupplierParty">
                <ref name="cac.Party"/>
            </element>
            <element name="cac:ContractorCustomerParty">
                <ref name="cac.Party"/>
            </element>
            <element name="cac:CatalogueLine">
                <ref name="cbc.ID"/>
                <element name="cbc:ContractSubdivision">
                    <text/>
                </element>
                <element name="cbc:OrderableIndicator">
                    <data type="boolean"/>
                </element>
                <element name="cbc:OrderableUnit">
                    <data type="integer"/>
                </element>
                <element name="cbc:ContentUnitQuantity">
                    <data type="integer"/>
                </element>
                <element name="cbc:OrderQuantityIncrementNumeric">
                    <data type="integer"/>
                </element>
                <element name="cbc:MinimumOrderQuantity">
                    <data type="integer"/>
                </element>
                <element name="cbc:MaximumOrderQuantity">
                    <data type="integer"/>
                </element>
                <element name="cbc:WarrantyInformation">
                    <text/>
                </element>
                <element name="cbc:PackLevelCode">
                    <data type="NCName"/>
                </element>
                <element name="cac:LineValidityPeriod">
                    <ref name="cbc.StartDate"/>
                    <ref name="cbc.EndDate"/>
                </element>
                <element name="cac:ItemComparison">
                    <ref name="cbc.PriceAmount"/>
                    <ref name="cbc.Quantity"/>
                </element>
                <element name="cac:ComponentRelatedItem">
                    <ref name="cbc.ID"/>
                    <ref name="cbc.Quantity"/>
                </element>
                <element name="cac:RequiredRelatedItem">
                    <ref name="cbc.ID"/>
                    <ref name="cbc.Quantity"/>
                </element>
                <element name="cac:ComplementaryRelatedItem">
                    <ref name="cbc.ID"/>
                    <ref name="cbc.Quantity"/>
                </element>
                <element name="cac:ReplacedRelatedItem">
                    <ref name="cbc.ID"/>
                    <ref name="cbc.Quantity"/>
                </element>
                <element name="cac:RequiredItemLocationQuantity">
                    <element name="cbc:MinimumQuantity">
                        <data type="integer"/>
                    </element>
                    <element name="cbc:MaximumQuantity">
                        <data type="integer"/>
                    </element>
                    <element name="cac:ApplicableTerritoryAddress">
                        <ref name="cbc.StreetName"/>
                        <ref name="cbc.AdditionalStreetName"/>
                        <ref name="cbc.CityName"/>
                        <ref name="cbc.PostalZone"/>
                        <ref name="cbc.CountrySubentity"/>
                        <ref name="cac.Country"/>
                    </element>
                    <element name="cac:Price">
                        <ref name="cbc.PriceAmount"/>
                        <element name="cbc:PriceTypeCode">
                            <data type="NCName"/>
                        </element>
                        <element name="cbc:OrderableUnitFactorRate">
                            <data type="integer"/>
                        </element>
                        <ref name="cac.ValidityPeriod"/>
                        <element name="cac:AllowanceCharge">
                            <element name="cbc:ChargeIndicator">
                                <data type="boolean"/>
                            </element>
                            <element name="cbc:AllowanceChargeReason">
                                <text/>
                            </element>
                            <element name="cbc:Amount">
                                <attribute name="currencyID">
                                    <data type="NCName"/>
                                </attribute>
                                <data type="integer"/>
                            </element>
                        </element>
                    </element>
                </element>
                <element name="cac:Item">
                    <ref name="cbc.Description"/>
                    <element name="cbc:PackQuantity">
                        <data type="integer"/>
                    </element>
                    <element name="cbc:PackSizeNumeric">
                        <data type="integer"/>
                    </element>
                    <ref name="cbc.Name"/>
                    <element name="cbc:Keyword">
                        <data type="NCName"/>
                    </element>
                    <element name="cbc:BrandName">
                        <text/>
                    </element>
                    <element name="cac:SellersItemIdentification">
                        <ref name="cbc.ID"/>
                    </element>
                    <element name="cac:ManufacturersItemIdentification">
                        <ref name="cbc.ID"/>
                    </element>
                    <element name="cac:StandardItemIdentification">
                        <ref name="cbc.ID"/>
                        <element name="cbc:ExtendedID">
                            <data type="NCName"/>
                        </element>
                    </element>
                    <element name="cac:ItemSpecificationDocumentReference">
                        <ref name="cbc.ID"/>
                        <ref name="cbc.DocumentTypeCode"/>
                        <element name="cbc:DocumentType">
                            <text/>
                        </element>
                        <element name="cbc:DocumentDescription">
                            <text/>
                        </element>
                        <element name="cac:Attachment">
                            <element name="cbc:EmbeddedDocumentBinaryObject">
                                <attribute name="filename">
                                    <data type="NCName"/>
                                </attribute>
                                <attribute name="mimeCode"/>
                                <text/>
                            </element>
                            <element name="cac:ExternalReference">
                                <element name="cbc:URI">
                                    <data type="anyURI"/>
                                </element>
                            </element>
                        </element>
                    </element>
                    <element name="cac:OriginCountry">
                        <ref name="cbc.IdentificationCode"/>
                    </element>
                    <element name="cac:CommodityClassification">
                        <element name="cbc:ItemClassificationCode">
                            <data type="integer"/>
                        </element>
                    </element>
                    <element name="cac:TransactionConditions">
                        <element name="cbc:ActionCode">
                            <data type="NCName"/>
                        </element>
                        <ref name="cbc.Description"/>
                    </element>
                    <element name="cac:HazardousItem">
                        <ref name="cbc.ID"/>
                        <element name="cbc:UNDGCode">
                            <data type="integer"/>
                        </element>
                    </element>
                    <element name="cac:ClassifiedTaxCategory">
                        <ref name="cbc.ID"/>
                        <element name="cbc:Percent">
                            <data type="integer"/>
                        </element>
                        <element name="cac:TaxScheme">
                            <ref name="cbc.ID"/>
                        </element>
                    </element>
                    <element name="cac:AdditionalItemProperty">
                        <ref name="cbc.ID"/>
                        <ref name="cbc.Name"/>
                        <element name="cbc:NameCode">
                            <data type="NCName"/>
                        </element>
                        <element name="cbc:Value">
                            <text/>
                        </element>
                        <element name="cbc:ValueQualifier">
                            <data type="NCName"/>
                        </element>
                    </element>
                    <element name="cac:ManufacturerParty">
                        <ref name="cac.PartyName"/>
                    </element>
                    <element name="cac:ItemInstance">
                        <element name="cbc:BestBeforeDate">
                            <data type="NMTOKEN"/>
                        </element>
                    </element>
                    <element name="cac:Certificate">
                        <ref name="cbc.ID"/>
                        <element name="cbc:CertificateTypeCode">
                            <data type="NCName"/>
                        </element>
                        <element name="cbc:CertificateType">
                            <text/>
                        </element>
                        <element name="cbc:Remarks">
                            <data type="NCName"/>
                        </element>
                        <element name="cac:IssuerParty">
                            <ref name="cac.PartyName"/>
                        </element>
                        <element name="cac:DocumentReference">
                            <ref name="cbc.ID"/>
                            <ref name="cbc.DocumentTypeCode"/>
                        </element>
                    </element>
                    <element name="cac:Dimension">
                        <element name="cbc:AttributeID">
                            <data type="NCName"/>
                        </element>
                        <element name="cbc:Measure">
                            <attribute name="unitCode">
                                <data type="NCName"/>
                            </attribute>
                            <data type="integer"/>
                        </element>
                        <element name="cbc:MinimumMeasure">
                            <attribute name="unitCode">
                                <data type="NCName"/>
                            </attribute>
                            <data type="integer"/>
                        </element>
                        <element name="cbc:MaximumMeasure">
                            <attribute name="unitCode">
                                <data type="NCName"/>
                            </attribute>
                            <data type="integer"/>
                        </element>
                    </element>
                </element>
                <element name="cac:CallForTendersLineReference">
                    <element name="cbc:LineID">
                        <data type="NCName"/>
                    </element>
                </element>
            </element>
        </element>
    </start>
    <define name="cbc.ID">
        <element name="cbc:ID">
            <text/>
        </element>
    </define>
    <define name="cbc.Name">
        <element name="cbc:Name">
            <text/>
        </element>
    </define>
    <define name="cbc.IssueDate">
        <element name="cbc:IssueDate">
            <data type="NMTOKEN"/>
        </element>
    </define>
    <define name="cac.ValidityPeriod">
        <element name="cac:ValidityPeriod">
            <ref name="cbc.StartDate"/>
            <ref name="cbc.EndDate"/>
        </element>
    </define>
    <define name="cbc.EndpointID">
        <element name="cbc:EndpointID">
            <optional>
                <attribute name="schemeID">
                    <data type="NMTOKEN"/>
                </attribute>
            </optional>
            <data type="NMTOKEN"/>
        </element>
    </define>
    <define name="cac.PartyIdentification">
        <element name="cac:PartyIdentification">
            <ref name="cbc.ID"/>
        </element>
    </define>
    <define name="cac.PartyName">
        <element name="cac:PartyName">
            <ref name="cbc.Name"/>
        </element>
    </define>
    <define name="cac.PostalAddress">
        <element name="cac:PostalAddress">
            <ref name="cbc.StreetName"/>
            <ref name="cbc.AdditionalStreetName"/>
            <ref name="cbc.CityName"/>
            <ref name="cbc.PostalZone"/>
            <ref name="cbc.CountrySubentity"/>
            <ref name="cac.Country"/>
        </element>
    </define>
    <define name="cac.Party">
        <element name="cac:Party">
            <ref name="cac.PartyIdentification"/>
            <ref name="cac.PartyName"/>
            <optional>
                <ref name="cac.PostalAddress"/>
            </optional>
            <element name="cac:Contact">
                <ref name="cbc.Name"/>
                <element name="cbc:Telephone">
                    <data type="integer"/>
                </element>
                <element name="cbc:Telefax">
                    <data type="integer"/>
                </element>
                <element name="cbc:ElectronicMail">
                    <text/>
                </element>
            </element>
        </element>
    </define>
    <define name="cbc.StartDate">
        <element name="cbc:StartDate">
            <data type="NMTOKEN"/>
        </element>
    </define>
    <define name="cbc.EndDate">
        <element name="cbc:EndDate">
            <data type="NMTOKEN"/>
        </element>
    </define>
    <define name="cbc.PriceAmount">
        <element name="cbc:PriceAmount">
            <attribute name="currencyID">
                <data type="NCName"/>
            </attribute>
            <data type="decimal"/>
        </element>
    </define>
    <define name="cbc.Quantity">
        <element name="cbc:Quantity">
            <attribute name="unitCode">
                <data type="NCName"/>
            </attribute>
            <data type="integer"/>
        </element>
    </define>
    <define name="cbc.StreetName">
        <element name="cbc:StreetName">
            <text/>
        </element>
    </define>
    <define name="cbc.AdditionalStreetName">
        <element name="cbc:AdditionalStreetName">
            <text/>
        </element>
    </define>
    <define name="cbc.CityName">
        <element name="cbc:CityName">
            <text/>
        </element>
    </define>
    <define name="cbc.PostalZone">
        <element name="cbc:PostalZone">
            <data type="integer"/>
        </element>
    </define>
    <define name="cbc.CountrySubentity">
        <element name="cbc:CountrySubentity">
            <text/>
        </element>
    </define>
    <define name="cac.Country">
        <element name="cac:Country">
            <ref name="cbc.IdentificationCode"/>
        </element>
    </define>
    <define name="cbc.Description">
        <element name="cbc:Description">
            <text/>
        </element>
    </define>
    <define name="cbc.DocumentTypeCode">
        <element name="cbc:DocumentTypeCode">
            <optional>
                <attribute name="listID">
                    <data type="NCName"/>
                </attribute>
            </optional>
            <text/>
        </element>
    </define>
    <define name="cbc.IdentificationCode">
        <element name="cbc:IdentificationCode">
            <optional>
                <attribute name="listID">
                    <data type="NCName"/>
                </attribute>
            </optional>
            <data type="NCName"/>
        </element>
    </define>
</grammar>
