rules/example/Catalogue-example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xs:schema [
        <!ELEMENT xs:schema (xs:element|xs:complexType)*>
        <!ATTLIST xs:schema
                attributeFormDefault CDATA #REQUIRED
                elementFormDefault CDATA #REQUIRED
                targetNamespace CDATA #REQUIRED
                xmlns:xs CDATA #REQUIRED>
        <!ELEMENT xs:element (#PCDATA)>
        <!ATTLIST xs:element
                minOccurs CDATA #IMPLIED
                name CDATA #IMPLIED
                ref CDATA #IMPLIED
                type CDATA #IMPLIED
                xmlns:urn CDATA #REQUIRED>
        <!ELEMENT xs:complexType (xs:sequence)*>
        <!ATTLIST xs:complexType
                name CDATA #REQUIRED>
        <!ELEMENT xs:sequence (xs:element)*>
        ]>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CatalogueLine" type="urn:CatalogueLineType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
  <xs:element name="ReceiverParty" type="urn:ReceiverPartyType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
  <xs:element name="ProviderParty" type="urn:ProviderPartyType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
  <xs:element name="SellerSupplierParty" type="urn:SellerSupplierPartyType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
  <xs:element name="ContractorCustomerParty" type="urn:ContractorCustomerPartyType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
  <xs:element name="ValidityPeriod" type="urn:ValidityPeriodType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
  <xs:element name="ReferencedContract" type="urn:ReferencedContractType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
  <xs:complexType name="ClassifiedTaxCategoryType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Percent" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:TaxSchemeType" name="TaxScheme" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginCountryType">
    <xs:sequence>
      <xs:element ref="urn:IdentificationCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyType">
    <xs:sequence>
      <xs:element type="urn:PartyIdentificationType" name="PartyIdentification" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:PartyNameType" name="PartyName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:PostalAddressType" name="PostalAddress" minOccurs="0" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ContactType" name="Contact" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SellerSupplierPartyType">
    <xs:sequence>
      <xs:element type="urn:PartyType" name="Party" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProviderPartyType">
    <xs:sequence>
      <xs:element ref="urn:EndpointID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:PartyIdentificationType" name="PartyIdentification" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:PartyNameType" name="PartyName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:PostalAddressType" name="PostalAddress" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReplacedRelatedItemType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Quantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequiredRelatedItemType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Quantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssuerPartyType">
    <xs:sequence>
      <xs:element type="urn:PartyNameType" name="PartyName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllowanceChargeType">
    <xs:sequence>
      <xs:element ref="urn:ChargeIndicator" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:AllowanceChargeReason" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Amount" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequiredItemLocationQuantityType">
    <xs:sequence>
      <xs:element ref="urn:MinimumQuantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:MaximumQuantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:ApplicableTerritoryAddressType" name="ApplicableTerritoryAddress" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:PriceType" name="Price" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalItemPropertyType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Name" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:NameCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Value" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:ValueQualifier" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractDocumentReferenceType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CatalogueLineType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:ContractSubdivision" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:OrderableIndicator" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:OrderableUnit" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:ContentUnitQuantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:OrderQuantityIncrementNumeric" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:MinimumOrderQuantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:MaximumOrderQuantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:WarrantyInformation" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:PackLevelCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:LineValidityPeriodType" name="LineValidityPeriod" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ItemComparisonType" name="ItemComparison" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ComponentRelatedItemType" name="ComponentRelatedItem" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:RequiredRelatedItemType" name="RequiredRelatedItem" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ComplementaryRelatedItemType" name="ComplementaryRelatedItem" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ReplacedRelatedItemType" name="ReplacedRelatedItem" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:RequiredItemLocationQuantityType" name="RequiredItemLocationQuantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ItemType" name="Item" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:CallForTendersLineReferenceType" name="CallForTendersLineReference" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionConditionsType">
    <xs:sequence>
      <xs:element ref="urn:ActionCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Description" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallForTendersLineReferenceType">
    <xs:sequence>
      <xs:element ref="urn:LineID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentType">
    <xs:sequence>
      <xs:element ref="urn:EmbeddedDocumentBinaryObject" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:ExternalReferenceType" name="ExternalReference" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContractorCustomerPartyType">
    <xs:sequence>
      <xs:element type="urn:PartyType" name="Party" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemInstanceType">
    <xs:sequence>
      <xs:element ref="urn:BestBeforeDate" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LineValidityPeriodType">
    <xs:sequence>
      <xs:element ref="urn:StartDate" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:EndDate" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencedContractType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:IssueDate" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:ContractTypeCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:ContractDocumentReferenceType" name="ContractDocumentReference" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComplementaryRelatedItemType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Quantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidityPeriodType">
    <xs:sequence>
      <xs:element ref="urn:StartDate" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:EndDate" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComponentRelatedItemType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Quantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExternalReferenceType">
    <xs:sequence>
      <xs:element ref="urn:URI" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element ref="urn:Description" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:PackQuantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:PackSizeNumeric" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Name" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Keyword" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:BrandName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:SellersItemIdentificationType" name="SellersItemIdentification" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ManufacturersItemIdentificationType" name="ManufacturersItemIdentification" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:StandardItemIdentificationType" name="StandardItemIdentification" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ItemSpecificationDocumentReferenceType" name="ItemSpecificationDocumentReference" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:OriginCountryType" name="OriginCountry" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:CommodityClassificationType" name="CommodityClassification" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:TransactionConditionsType" name="TransactionConditions" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:HazardousItemType" name="HazardousItem" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ClassifiedTaxCategoryType" name="ClassifiedTaxCategory" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:AdditionalItemPropertyType" name="AdditionalItemProperty" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ManufacturerPartyType" name="ManufacturerParty" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:ItemInstanceType" name="ItemInstance" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:CertificateType" name="Certificate" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:DimensionType" name="Dimension" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyNameType">
    <xs:sequence>
      <xs:element ref="urn:Name" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element ref="urn:Name" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Telephone" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Telefax" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:ElectronicMail" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentificationType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManufacturersItemIdentificationType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DimensionType">
    <xs:sequence>
      <xs:element ref="urn:AttributeID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Measure" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:MinimumMeasure" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:MaximumMeasure" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HazardousItemType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:UNDGCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:sequence>
      <xs:element ref="urn:IdentificationCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertificateType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:CertificateTypeCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:CertificateType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Remarks" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:IssuerPartyType" name="IssuerParty" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:DocumentReferenceType" name="DocumentReference" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommodityClassificationType">
    <xs:sequence>
      <xs:element ref="urn:ItemClassificationCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriceType">
    <xs:sequence>
      <xs:element ref="urn:PriceAmount" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:PriceTypeCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:OrderableUnitFactorRate" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:ValidityPeriodType" name="ValidityPeriod" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:AllowanceChargeType" name="AllowanceCharge" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemComparisonType">
    <xs:sequence>
      <xs:element ref="urn:PriceAmount" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:Quantity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentReferenceType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:DocumentTypeCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicableTerritoryAddressType">
    <xs:sequence>
      <xs:element ref="urn:StreetName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:AdditionalStreetName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:CityName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:PostalZone" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:CountrySubentity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:CountryType" name="Country" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxSchemeType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManufacturerPartyType">
    <xs:sequence>
      <xs:element type="urn:PartyNameType" name="PartyName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StandardItemIdentificationType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:ExtendedID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddressType">
    <xs:sequence>
      <xs:element ref="urn:StreetName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:AdditionalStreetName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:CityName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:PostalZone" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:CountrySubentity" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:CountryType" name="Country" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReceiverPartyType">
    <xs:sequence>
      <xs:element ref="urn:EndpointID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:PartyIdentificationType" name="PartyIdentification" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:PartyNameType" name="PartyName" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
      <xs:element type="urn:PostalAddressType" name="PostalAddress" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemSpecificationDocumentReferenceType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:DocumentTypeCode" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:DocumentType" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element ref="urn:DocumentDescription" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
      <xs:element type="urn:AttachmentType" name="Attachment" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SellersItemIdentificationType">
    <xs:sequence>
      <xs:element ref="urn:ID" xmlns:urn="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>